# Question-1

# Importing libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn import model_selection
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

# Importing the dataset

In [3]:
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']
data = pd.read_csv("iris.data",names = names)
data

     sepal-length  sepal-width  petal-length  petal-width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

# Splitting the dataset in class of setosa and versicolour

In [4]:
dataset1 = data.loc[:99]
dataset1

    sepal-length  sepal-width  petal-length  petal-width            Class
0            5.1          3.5           1.4          0.2      Iris-setosa
1            4.9          3.0           1.4          0.2      Iris-setosa
2            4.7          3.2           1.3          0.2      Iris-setosa
3            4.6          3.1           1.5          0.2      Iris-setosa
4            5.0          3.6           1.4          0.2      Iris-setosa
..           ...          ...           ...          ...              ...
95           5.7          3.0           4.2          1.2  Iris-versicolor
96           5.7          2.9           4.2          1.3  Iris-versicolor
97           6.2          2.9           4.3          1.3  Iris-versicolor
98           5.1          2.5           3.0          1.1  Iris-versicolor
99           5.7          2.8           4.1          1.3  Iris-versicolor

[100 rows x 5 columns]

In [5]:
X = dataset1.iloc[:, 0:4].values
y = dataset1.iloc[:, 4].values

# Making the train,test split

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Implementing LDA for dataset1

In [7]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

lda = LDA(n_components=1)
X_train = lda.fit_transform(X_train, y_train)
X_test = lda.transform(X_test)

In [8]:
from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier(max_depth=2, random_state=0)

classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

# Calculating Confusion matrix,Accuracy,Precision and Recall

In [9]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

cm = confusion_matrix(y_test, y_pred)
print(cm)
print('Accuracy' + str(accuracy_score(y_test, y_pred)))

[[10  0]
 [ 0 10]]
Accuracy1.0

In [10]:
#precision = TP/(TP + FP)
Precision = (10/(10+0))*100
Precision

100.0

In [11]:
#Recall = TP/(TP + FN)
Recall = (10/(10+0))*100
Recall

100.0

# Splitting the dataset in classes versicolor and virginica

In [12]:
dataset2 = data.loc[50:150]
dataset2

     sepal-length  sepal-width  petal-length  petal-width            Class
50            7.0          3.2           4.7          1.4  Iris-versicolor
51            6.4          3.2           4.5          1.5  Iris-versicolor
52            6.9          3.1           4.9          1.5  Iris-versicolor
53            5.5          2.3           4.0          1.3  Iris-versicolor
54            6.5          2.8           4.6          1.5  Iris-versicolor
..            ...          ...           ...          ...              ...
145           6.7          3.0           5.2          2.3   Iris-virginica
146           6.3          2.5           5.0          1.9   Iris-virginica
147           6.5          3.0           5.2          2.0   Iris-virginica
148           6.2          3.4           5.4          2.3   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica

[100 rows x 5 columns]

In [31]:
X = dataset2.iloc[:, 0:4].values
y = dataset2.iloc[:, 4].values

# Making Train,Test split

In [32]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Implementing LDA for dataset2

In [33]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

lda = LDA(n_components=1)
X_train = lda.fit_transform(X_train, y_train)
X_test = lda.transform(X_test)

In [34]:
from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier(max_depth=2, random_state=0)

classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

# Calculating Confusion matrix,Accuracy,Precision and Recall

In [35]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

cm = confusion_matrix(y_test, y_pred)
print(cm)
print('Accuracy' + str(accuracy_score(y_test, y_pred)))

[[ 9  1]
 [ 0 10]]
Accuracy0.95

In [36]:
#precision = TP/(TP + FP)
Precision = (9/(9+0))*100
Precision

100.0

In [37]:
#Recall = TP/(TP + FN)
Recall = (9/(9+1))*100
Recall

90.0

# Splitting the dataset in classes setosa and virginica

In [38]:
dataset3 = data.loc[:49].append(data.loc[100:150])
dataset3

     sepal-length  sepal-width  petal-length  petal-width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[100 rows x 5 columns]

In [39]:
X = dataset3.iloc[:, 0:4].values
y = dataset3.iloc[:, 4].values

# Makng Train,Test split for dataset 3

In [40]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Implementing LDA

In [41]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

lda = LDA(n_components=1)
X_train = lda.fit_transform(X_train, y_train)
X_test = lda.transform(X_test)

In [42]:
from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier(max_depth=2, random_state=0)

classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

# Calculating Confusion matrix,Accuracy,Precision and Recall

In [43]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

cm = confusion_matrix(y_test, y_pred)
print(cm)
print('Accuracy' + str(accuracy_score(y_test, y_pred)))

[[10  0]
 [ 0 10]]
Accuracy1.0

In [44]:
#precision = TP/(TP + FP)
Precision = (10/(10+0))*100
Precision

100.0

In [45]:
#Recall = TP/(TP + FN)
Recall = (10/(10+0))*100
Recall

100.0

# Question-2(2)

# Importing Libraries

In [49]:
import numpy as np
import pandas as pd
from sklearn import model_selection
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score, precision_score, accuracy_score

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Importing the dataset

In [52]:
names = ['ID','Clump thickness', 'Uniformity of cell size', 'Uniformity of cell shape', 'Marginal adhesion', 'Single epithelial cell size', 'Bare nuclei', 'Bland chromatin', 'Normal nuclei', 'Mitoses', 'Diagnose']
dataset = pd.read_csv('cancer.data', names = names)
dataset

          ID  Clump thickness  ...  Mitoses  Diagnose
0    1000025                5  ...        1         2
1    1002945                5  ...        1         2
2    1015425                3  ...        1         2
3    1016277                6  ...        1         2
4    1017023                4  ...        1         2
..       ...              ...  ...      ...       ...
694   776715                3  ...        1         2
695   841769                2  ...        1         2
696   888820                5  ...        2         4
697   897471                4  ...        1         4
698   897471                4  ...        1         4

[699 rows x 11 columns]

In [53]:
for i in range(699):
    if dataset['Bare nuclei'].iloc[i]=='?':
        dataset['Bare nuclei'].iloc[i]=np.nan

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

# Converting the column of Bare nuclei in float

In [54]:
dataset['Bare nuclei'] = dataset['Bare nuclei'].astype('float')

In [55]:
dataset.replace(np.nan, round(dataset['Bare nuclei'].mean()), inplace=True)

# Input and Output Data

In [56]:
x_data = dataset.drop('Diagnose', axis=1)
x_data = x_data.drop('ID', axis=1)
y_data = dataset['Diagnose']

# Normalization

In [57]:
for i in x_data.columns:
  x_data[i] = x_data[i]/(x_data[i].max()-x_data[i].min())

In [58]:
for i in range(y_data.shape[0]):
    if y_data[i]==2:
        y_data.iloc[i]=0
    else:
        y_data.iloc[i]=1

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

# Splitting the dataset into Train, Test and Cross Validation

In [59]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.2, random_state=42, shuffle=True)

In [60]:
x_train, x_cv, y_train, y_cv = train_test_split(x_train, y_train, test_size=0.2, random_state=42, shuffle=True)

# Initializing the weights and bias values

In [104]:
def weight_bias(w,b):
  w = np.zeros((X_train.shape[1]))
  b = 0
  return w,b

# Initializing the sigmoid function

In [105]:
def sigmoid(z):
    sigmoid_func = 1/(1 + np.exp(-z))
    return sigmoid_func

# Stochastic Gradient Descent

In [106]:
def sgd(epochs, X_train, y_train, w, b, learning_rate):
  for i in range(epochs):
    ind = np.random.choice(X_train.index, size=1)
    ind = int(ind)
    X_tr = np.array(X_train[X_train.index==ind])
    y_tr = y_train[ind].copy()
    z = (np.dot(X_tr, w.T) + b)
    sigmoid_func = sigmoid(z)
    derivative_weight = 2*X_tr*(sigmoid_func-y_tr)
    derivative_bias = 2*(sigmoid_func-y_tr)

    w = w - derivative_weight*learning_rate
    b = b - derivative_bias*learning_rate

  return w,b

# Predictions

In [107]:
def prediction(X,w,b):
  y_pred=[]
  for i in range(X.shape[0]):
    X_t = np.array(X.iloc[i,:])
    fx = 1/(1+np.exp(-(np.dot(X_t, w.T) + b)))
    if fx>=0.5:
      y_p = 1
    else:
      y_p = 0
    y_pred.append(y_p)
  return y_pred

In [108]:
w_sgd_rand,b_sgd_rand = sgd(1000, x_train, y_train, w, b, 0.1)
print(w_sgd_rand,b_sgd_rand)

[[1.39373517 1.99734077 2.00449946 1.27176152 0.45001978 2.63401312
  1.4371756  1.48351412 0.1605643 ]] [[-5.52257865]]

In [109]:
y_pred_sgd_rand = prediction(x_cv, w_sgd_rand, b_sgd_rand)

# Cross Validation

In [79]:
best_rec_sgd=0
w = np.zeros((x_train.shape[1]))
b = 0

for learning_rate in [0.001,0.1,1,10]:
    for epochs in [100,500,1000]:
      wcv_sgd, bcv_sgd = sgd(epochs, x_train, y_train, w, b, learning_rate)
      ypred_sgd_test_cv = prediction(x_cv, wcv_sgd, bcv_sgd)
      rec_score = recall_score(y_cv, ypred_sgd_test_cv)
      print('learning rate: ',learning_rate,'\n epochs: ',epochs,'\n recall: ',rec_score)
      if rec_score>best_rec_sgd:
        best_rec_sgd=rec_score
        best_rec_combination_sgd=(learning_rate, epochs)

learning rate:  0.001
 epochs:  100
 recall:  0.95
learning rate:  0.001
 epochs:  500
 recall:  0.975
learning rate:  0.001
 epochs:  1000
 recall:  0.95
learning rate:  0.1
 epochs:  100
 recall:  0.95
learning rate:  0.1
 epochs:  500
 recall:  0.95
learning rate:  0.1
 epochs:  1000
 recall:  0.9
learning rate:  1
 epochs:  100
 recall:  0.925
learning rate:  1
 epochs:  500
 recall:  0.95
learning rate:  1
 epochs:  1000
 recall:  0.975
learning rate:  10
 epochs:  100
 recall:  1.0
learning rate:  10
 epochs:  500
 recall:  0.825
learning rate:  10
 epochs:  1000
 recall:  0.9

In [111]:
 learning_rate = best_rec_combination_sgd[0]
epochs = best_rec_combination_sgd[1]

In [110]:
w_sgd, b_sgd = sgd(epochs, x_train, y_train, w, b, learning_rate)

# Evaluation of precision,accuracy and recall on cross validation data

In [83]:
y_pred_sgd = prediction(x_cv, w_sgd, b_sgd)

In [84]:
rec_cv_sgd = recall_score(y_cv, y_pred_sgd)
prec_cv_sgd = precision_score(y_cv, y_pred_sgd)
acc_cv_sgd = accuracy_score(y_cv, y_pred_sgd)

In [85]:
print(rec_cv_sgd, prec_cv_sgd, acc_cv_sgd)

sgd_cv = [rec_cv_sgd, prec_cv_sgd, acc_cv_sgd]

0.825 0.9705882352941176 0.9285714285714286

# Evaluating precision,accuracy and recall on testing data

In [86]:
y_pred_test_sgd = prediction(x_test, w_sgd, b_sgd)

In [87]:
rec_test_sgd = recall_score(y_test, y_pred_test_sgd)
prec_test_sgd = precision_score(y_test, y_pred_test_sgd)
acc_test_sgd = accuracy_score(y_test, y_pred_test_sgd)

In [88]:
print(rec_test_sgd, prec_test_sgd, acc_test_sgd)
sgd_test = [rec_test_sgd, prec_test_sgd, acc_test_sgd]

0.7555555555555555 0.9714285714285714 0.9142857142857143

# Mini Batch Gradient Descent

In [89]:
def get_batches(X,y,batch_size,i):
    X_new = X.iloc[i:i+batch_size,:]
    y_new = y[i:i+batch_size]    
    return X_new, y_new


# Mini-Batch Gradient Descent

def MiniBatchGradientDescent(X,y,w,b,learning_rate,batch_size):
  b = np.zeros(batch_size)
  num_batches = int(x_train.shape[0]/batch_size)    
  for i in range(0,num_batches):
    X_batch, y_batch = get_batches(x_train,y_train,batch_size,i)
    z = (np.dot(X_batch, w.T) + b)
    sigmoid_func = sigmoid(z)
    loss = sigmoid_func - y_batch
    derivative_weight = 2*(np.dot(X_batch.T,loss))/batch_size
    derivative_bias = 2*loss/batch_size

    w = w - learning_rate * derivative_weight
    b = b - learning_rate * derivative_bias
    b = (b.mean())*np.ones(batch_size)
  b = b.mean()
  return w,b

# Cross Validation

In [90]:
best_rec_mini=0
b_m = np.zeros(13)
w_m = np.zeros(x_train.shape[1])

for learning_rate in [0.0001,0.001,0.01,0.1,1,10,20,30]:
    for batch_size in [5,10,15,20,25,30]:
      wcv_mini, bcv_mini = MiniBatchGradientDescent(x_train, y_train, w, b, learning_rate, batch_size)
      ypred_mini_test_cv = prediction(x_cv, wcv_mini, bcv_mini)
      rec_score = recall_score(y_cv, ypred_mini_test_cv)
      print('learning rate: ',learning_rate,'\n batch size: ',batch_size,'\n recall: ',rec_score)
      if rec_score>best_rec_mini:
        best_rec_mini=rec_score
        best_rec_combination_mini=(learning_rate, batch_size)

learning rate:  0.0001
 batch size:  5
 recall:  0.975
learning rate:  0.0001
 batch size:  10
 recall:  1.0
learning rate:  0.0001
 batch size:  15
 recall:  1.0
learning rate:  0.0001
 batch size:  20
 recall:  1.0
learning rate:  0.0001
 batch size:  25
 recall:  1.0
learning rate:  0.0001
 batch size:  30
 recall:  1.0
learning rate:  0.001
 batch size:  5
 recall:  0.975
learning rate:  0.001
 batch size:  10
 recall:  1.0
learning rate:  0.001
 batch size:  15
 recall:  1.0
learning rate:  0.001
 batch size:  20
 recall:  1.0
learning rate:  0.001
 batch size:  25
 recall:  1.0
learning rate:  0.001
 batch size:  30
 recall:  1.0
learning rate:  0.01
 batch size:  5
 recall:  0.95
learning rate:  0.01
 batch size:  10
 recall:  1.0
learning rate:  0.01
 batch size:  15
 recall:  1.0
learning rate:  0.01
 batch size:  20
 recall:  1.0
learning rate:  0.01
 batch size:  25
 recall:  1.0
learning rate:  0.01
 batch size:  30
 recall:  1.0
learning rate:  0.1
 batch size:  5
 recall:  0.85
learning rate:  0.1
 batch size:  10
 recall:  0.65
learning rate:  0.1
 batch size:  15
 recall:  0.975
learning rate:  0.1
 batch size:  20
 recall:  1.0
learning rate:  0.1
 batch size:  25
 recall:  1.0
learning rate:  0.1
 batch size:  30
 recall:  1.0
learning rate:  1
 batch size:  5
 recall:  0.925
learning rate:  1
 batch size:  10
 recall:  0.625
learning rate:  1
 batch size:  15
 recall:  0.725
learning rate:  1
 batch size:  20
 recall:  0.725
learning rate:  1
 batch size:  25
 recall:  0.725
learning rate:  1
 batch size:  30
 recall:  0.725
learning rate:  10
 batch size:  5
 recall:  0.975
learning rate:  10
 batch size:  10
 recall:  0.9
learning rate:  10
 batch size:  15
 recall:  1.0
learning rate:  10
 batch size:  20
 recall:  0.725
learning rate:  10
 batch size:  25
 recall:  0.725
learning rate:  10
 batch size:  30
 recall:  0.55
learning rate:  20
 batch size:  5
 recall:  0.975
learning rate:  20
 batch size:  10
 recall:  0.975
learning rate:  20
 batch size:  15
 recall:  1.0
learning rate:  20
 batch size:  20
 recall:  0.675
learning rate:  20
 batch size:  25
 recall:  0.625
learning rate:  20
 batch size:  30
 recall:  0.75
learning rate:  30
 batch size:  5
 recall:  0.975
learning rate:  30
 batch size:  10
 recall:  0.975
learning rate:  30
 batch size:  15
 recall:  1.0
learning rate:  30
 batch size:  20
 recall:  0.6
learning rate:  30
 batch size:  25
 recall:  0.575
learning rate:  30
 batch size:  30
 recall:  0.75

In [91]:
learning_rate = best_rec_combination_mini[0]
batch_size = best_rec_combination_mini[1]
print(learning_rate, batch_size)

0.0001 10

# Evaluating precision,accuracy and recall on Cross Validation Data

In [92]:
w_mini, b_mini = MiniBatchGradientDescent(x_train, y_train, w_m, b_m, learning_rate, batch_size)

In [93]:
y_pred_mini = prediction(x_cv, w_mini, b_mini)

In [94]:
rec_cv_mini = recall_score(y_cv, y_pred_mini)
prec_cv_mini = precision_score(y_cv, y_pred_mini)
acc_cv_mini = accuracy_score(y_cv, y_pred_mini)

In [95]:
print(rec_cv_mini, prec_cv_mini, acc_cv_mini)
mini_cv = [rec_cv_mini, prec_cv_mini, acc_cv_mini]

1.0 0.6896551724137931 0.8392857142857143


Evaluating precision,accuracy and recall on Testing Data

In [96]:
y_pred_test_mini = prediction(x_test, w_mini, b_mini)

In [97]:
rec_test_mini = recall_score(y_test, y_pred_test_mini)
prec_test_mini = precision_score(y_test, y_pred_test_mini)
acc_test_mini = accuracy_score(y_test, y_pred_test_mini)

In [98]:
print(rec_test_mini, prec_test_mini, acc_test_mini)
mini_test = [rec_test_mini, prec_test_mini, acc_test_mini]

1.0 0.6081081081081081 0.7928571428571428

# Tabular Representation of precision,accuracy and recall for SGD

In [115]:
sgd_output = pd.DataFrame(data = [[round(sgd_cv[i],2) for i in range(0,3)], [round(sgd_test[i],2) for i in range(0,3)]],
                          columns = ['Recall','Precision','Accuracy'],
                          index = ['Evaluation on cross validation data','Evaluated on testing data'])
sgd_output

                                     Recall  Precision  Accuracy
Evaluation on cross validation data    0.82       0.97      0.93
Evaluated on testing data              0.76       0.97      0.91


# Tabular Representation of precision,accuracy and recall for Mini batch SGD

In [114]:
mini_output = pd.DataFrame(data = [[round(mini_cv[i],2) for i in range(0,3)], [round(mini_test[i],2) for i in range(0,3)]],
                          columns = ['Recall','Precision','Accuracy'],
                          index = ['Evaluation on cross validation data','Evaluation on testing data'])
mini_output

                                     Recall  Precision  Accuracy
Evaluation on cross validation data     1.0       0.69      0.84
Evaluation on testing data              1.0       0.61      0.79